<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

</head>
<body>




<div id="loading"></div>
    <div id="content">
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <div class="my">
        <h1>Please upload images:</h1>
            </div>
        <p>
        <form action="." method="POST" enctype=multipart/form-data>
        <input type=file name=file>
      <input type="submit" name="anything_submit" value="Submit" onclick="loading();">
        </form>
        </p>
    </div>








<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
</body>

</html>